
@font-face {
  font-family: "cabinBold";
  src: local("cabinBold"), url(./assets/fonts/Cabin/Cabin-Bold.ttf);
}

@font-face {
  font-family: "cabinSemiBold";
  src: local("cabinSemiBold"), url(./assets/fonts/Cabin/Cabin-SemiBold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Verdana', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}